<div class="row">
  <h1>My Home Page</h1>
</div>
<div class="row">
  <div class="col-sm">
    <h2>My Lists</h2>
    <ul>
      <% @lists.each do |list| %>
        <li>
          <p>
            <%= link_to list.title, list_path(list)  %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm">
    <%= render "lists/form" %>
  </div>
</div>
