<% if user_signed_in? %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "Home", user_path(current_user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "New List", new_user_list_url(current_user), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    <li class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>

<% end %>
